.OrderFormContent {
    display: flex;
    flex-direction: column;
    min-height: 12.75rem;
} 

.OrderFormContent h2 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.OrderFormContent p {
    margin-bottom: 1rem;
    flex: 1;
}

.OrderFormContent .Button {
    width: 80%;
}

.OrderFormContent a {
    text-align: center;
}