.ProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 45.5rem;
    height: 30rem;
    z-index: 1;
    background: white;
    border-radius: 5px;
    padding: 1.65rem 1.6875rem;
}

.ProfileForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
}

.CreditCardForm {
    margin-right: 1rem;
    align-self: flex-start;
}

.ProfileForm Button {
    width: 40%;
}

.ProfileForm__header {
    font-size: 1.875rem;
    margin-bottom: 0.5rem;
}

.ProfileForm__text-block {
    margin-bottom: 1.5rem;
}

.ProfileForm__cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.CreditCardForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19.5875rem;
    height: 15rem;
}

.CreditCardForm__row {
    display: flex;
}

.MuiTextField-root + .MuiTextField-root {
    margin-left: 1rem;
}