.CreditCardForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19.5875rem;
    height: 15rem;
}

.CreditCardForm__row {
    display: flex;
}

.MuiTextField-root + .MuiTextField-root {
    margin-left: 1rem;
}